*{
    margin: 0px;
    padding: 0px;
}

div{
background-color: rgb(65, 18, 65);
color: blanchedalmond;
padding: 1opx;
margin-left: 550px;
display: inline-block;

}
p{
    text-align: center;
    margin: 20px;
    background-color:rgb(8, 141, 134);
}
